.chat{
  display:grid;
  grid-template-columns: 90vw;
  grid-template-rows: 10vh 60vh 25vh;
  grid-template-areas: "header" "message-list" "message-input";
  row-gap: 15px;
  justify-content: center;
}